.ticket__container {
    border: 1px solid #C4C4C4;
    margin: 10px 0 10px 10px;
    font-family: 'Open Sans', sans-serif;
}

.ticket__wrapper {
    padding: 15px;
}

.ticket__header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #2196F3;
    font-weight: 600;
    margin-bottom: 20px;
}

.ticket__price {
}

.ticket__carrier {

}